<router-outlet></router-outlet>
<div class="container ">
  <main class="row" style="height: calc(100vh - 2rem);">
    <div class="col-12">
      <video style="transform: rotateY(180deg); width: 500px; height: 500px;" #myStream  muted autoplay></video>
    </div>
  </main>
  <footer class="row">
    <div class="col-6">
      <button class="btn btn-primary" (click)="startProcessing()">Predict</button>
      <button class="btn btn-warning">Train</button>
    </div>
    <div class="col-6">
      
      <label #result></label>
    </div>
  </footer>
</div>